@use './variables' as *;

//subtle custom scrollbar for dialogs
 &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 2px;
    margin: 10px 0;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbar-grey;
    border-radius: 5px;
    border: 1px solid $scrollbar-grey;
    margin-bottom: 25px;
  }
