$light-grey: #d1d1d1;
$light-blue: #007cee;
$bright-light-blue: #29ABE2;
$white: #ffffff;
$dark-blue: #2A3647;
$black: #000000;
$header-shadow: #0000001A;
$blue-green:#124658;
$bright-dark-blue: #091931;
$red: red;
$input-border-color: #6b6b6bb5;
$transparent: transparent;
$gray-medium: #686868;
$navy-blue:#0C2E621E;


