<button class="contact-details__button">Edit</button>
<button class="contact-details__button">Delete</button>
@if (contact(); as c) {
<div [style.background-color]="getColor(c.contact_name)" class="contact-list__initials">
    <p>{{c.contact_name | getInitials}}</p>
</div>
<div class="contact-list__single-contact-details">
    <p class="contact-details__name">{{ c.contact_name }}</p>
    <h3>Contact Information</h3>
    <p><b>Email</b></p>
    <p class="contact-details__mail">{{ c.contact_mail }}</p>
    <p><b>Phone</b></p>
    <p class="contact-details__phone">{{ c.contact_phone }}</p>
</div>}