@use '../../../../styles/variables' as *;

.edit-contact-dialog {
	--dialog-animation-duration: 400ms;
	box-sizing: border-box;
	position: fixed;
	width: min(900px, calc(100vw - 32px));
	max-width: calc(100vw - 32px);
	max-height: calc(100dvh - 32px);
	inset: 0;
	margin: auto;
	border: none;
	padding: 0;
	border-radius: 30px;
	overflow-x: hidden;
	overflow-y: auto;

	&[open] {
		animation: edit-contact-dialog-enter var(--dialog-animation-duration) ease-out forwards;
	}

	&--closing {
		animation: edit-contact-dialog-exit var(--dialog-animation-duration) ease-in forwards !important;
	}

	&::backdrop {
		background-color: rgba(0, 0, 0, 0.35);
	}
}

@keyframes edit-contact-dialog-enter {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes edit-contact-dialog-exit {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(100%);
	}
}

@media (max-width: 400px) {
	.edit-contact-dialog {
		width: 100%;
		max-width: 100%;
		height: 100dvh;
		max-height: 100dvh;
	}
}
