@if (contact(); as c) {
<main (click)="$event.stopPropagation()">
    <section class="info-section">
        <button type="button" class="btn-close-top btn-img" (click)="closeDialog()"><img
                src="icons/contact-dialog/close-white.png" alt="Close Icon"></button>
        <img src="icons/contact-dialog/join-logo.svg" alt="Join Logo">
        <h1>Edit contact</h1>
        <div class="underline"></div>
    </section>
    <section class="form-section">
        <div [style.background-color]="getColor(c.contact_name)" class="contact-list__initials">
            <p>{{c.contact_name | getInitials}}</p>
        </div>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">

            <div class="form-fields">
                <button type="button" class="btn-close btn-img" (click)="closeDialog()"><img
                        src="icons/contact-dialog/close.png" alt="Close Icon"></button>

                <div class="input-container">
                    <div class="input-group">
                        <input type="text" id="name" formControlName="name" placeholder="Name" />
                        <img class="input-icon" src="icons/contact-dialog/person-icon.png" alt="Person Icon">
                    </div>
                    @if (contactForm.get('name')?.invalid && contactForm.get('name')?.touched) {
                    <span class="error-text">Please enter your name.</span>
                    }
                </div>

                <div class="input-container">
                    <div class="input-group">
                        <input type="email" id="email" formControlName="email" placeholder="Email" />
                        <img class="input-icon" src="icons/contact-dialog/mail-icon.png" alt="Mail Icon">
                    </div>
                    @if (contactForm.get('email')?.invalid && contactForm.get('email')?.touched) {
                    <span class="error-text">Please enter a valid email address.</span>
                    }
                </div>

                <div class="input-container">
                    <div class="input-group">
                        <input type="tel" id="phone" formControlName="phone" placeholder="Phone" />
                        <img class="input-icon" src="icons/contact-dialog/call-icon.png" alt="Call Icon">
                    </div>
                    @if (contactForm.get('phone')?.invalid && contactForm.get('phone')?.touched) {
                    <span class="error-text">Please enter a valid phone number.</span>
                    }
                </div>

                <div class="form-actions">
                    <button type="button" class="btn-cancel" (click)="deleteContact()" [disabled]="isSubmitting">
                        Delete
                    </button>
                    <button type="submit" class="btn-submit" [disabled]="contactForm.invalid || isSubmitting">
                        Save <img src="icons/contact-dialog/check.png" alt="Check Icon">
                    </button>
                </div>
                @if (errorMessage; as errorMessage) {
                <p role="alert">{{ errorMessage }}</p>
                }

            </div>

        </form>
    </section>
</main>
}