@if (isDialogOpen) {
<main>
    <section class="info-section">
        <img src="/icons/add-contact-dialog/join-logo.svg" alt="Join Logo">
        <h1>Edit contact</h1>
        <div class="underline"></div>
    </section>
    <section class="form-section">
        <div>
            <img class="avatar-logo" src="/icons/add-contact-dialog/person-logo.svg" alt="Avatar Logo">
        </div>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">

            <div class="form-fields">
                <button type="button" class="btn-close btn-img" (click)="closeDialog()"><img
                        src="/icons/add-contact-dialog/close.png" alt="Close Icon"></button>

                <div class="input-group">
                    <input type="text" id="name" formControlName="name" placeholder="Name" />
                    <img class="input-icon icon-user-small" src="/icons/add-contact-dialog/person-icon.png"
                        alt="Person Icon">
                </div>

                <div class="input-group">
                    <input type="email" id="email" formControlName="email" placeholder="Email" />
                    <img class="input-icon icon-user-small" src="/icons/add-contact-dialog/mail-icon.png"
                        alt="Mail Icon">
                </div>

                <div class="input-group">
                    <input type="tel" id="phone" formControlName="phone" placeholder="Phone" />
                    <img class="input-icon icon-user-small" src="/icons/add-contact-dialog/call-icon.png"
                        alt="Call Icon">
                </div>
                <div class="form-actions">
                    <button type="button" class="btn-cancel" (click)="closeDialog()">
                        Delete
                    </button>
                    <button type="submit" class="btn-submit" [disabled]="contactForm.invalid || isSubmitting">
                        Save <img src="/icons/add-contact-dialog/check.png" alt="Check Icon">
                    </button>
                </div>
                @if (errorMessage; as errorMessage) {
                <p role="alert">{{ errorMessage }}</p>
                }

            </div>

        </form>
    </section>
</main>
}
