@use '../../styles/variables' as *;

header {
  position: relative;
  z-index: 50;
  display: flex;
  align-items: center;
  width: 100%;
  height: 96px;
  padding: 0 44px 0 96px;
  font-family: 'Inter';
  font-weight: 400;
  background-color: $white;
  box-shadow: 0 4px 4px $header-shadow;

  .header-logo {
    display: none;
  }

  .header-title {
    margin: 0;
    color: $black;
    font-size: 1.25rem;
  }

  .header-actions {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-left: auto;
  }

  .help-button,
  .profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: $white;
    cursor: pointer;
  }

  .help-button {
    width: 20px;
    height: 20px;
    font-size:  0.875rem;
    background-color: $transparent;
    border: 2px solid $gray-medium;
    border-radius: 50%;
    color: $gray-medium;
    text-decoration: none;

    &:hover {
      transform: scale(1.15);
    }
  }

  .profile-button {
    width: 56px;
    height: 56px;
    color: $midnight-blue;
    font-size: 1rem;
    font-weight: 600;
    border: 3px solid $dark-blue;
    border-radius: 50%;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 150ms ease;

    &:hover {
      background-color: $navy-blue;
    }
  }

  .profile-button span {
    transform: translateX(-1px);
  }

  @media (max-width: 768px) {
    height: 80px;
    padding: 0 16px;

    .header-logo {
      display: block;
      width: 32px;
      height: 39px;
    }

    .header-title,
    .help-button {
      display: none;
    }

    .header-actions {
      margin-left: auto;
    }

    .profile-button {
      width: 40px;
      height: 40px;
      font-size: 0.875rem;
      border-width: 2px;
    }
  }
}
