@use '../../../styles' as *;

.contacts {
    app-contact-list {
        display: block;
        height: 100%;
    }

    .details-wrapper {
        min-width: 0;
        overflow-y: auto;
    }

    &__return-button {
        border: none;
        background-color: transparent;
        align-self: flex-end;
        display: none;
        // width: 0;
        // height: 0;
    }
}

@media (max-width: 992px) {
    main {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    app-contact-list {
        width: 100%;
    }

    .contacts {
        &__return-button {
            display: block;
            align-self: flex-start;
            cursor: pointer;
        }
    }

    .hide-on-mobile {
        display: none;
    }

    .details-wrapper {
        display: none;
    }

    .show-on-mobile {
        display: block;
        width: 100%;
    }
}
