@use '../../login-home.scss';
@use '../../../board/components/add-task-form/add-task-form.scss';
@use '../../../../../styles.scss' as *;

.register {
    &__logo {
        align-self: flex-start;
        justify-self: flex-start;
    }

    &__link {
        color: $blue-green;
        text-decoration: none;
        cursor: pointer;
    }

    &__button-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 76px;
        gap: 6px;
        text-align: center;
    }
}

.task-form__checkbox {
    margin-right: 8px;

    &:checked {
        background-image: url('/app-icons/login/checkbox_checked_login.svg');
    }

    &:hover {
        background-color: #EDF2FA;
        border-radius: 50%;
    }
}

.main-h1 {
    align-self: center;
    justify-self: center;
}

@media (max-width: 640px) {
    .register {
        &__logo {
            margin-bottom: 38px;
        }
    }
}