main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
}

.task-form {
    display: flex;
    justify-content: center;
    gap: 32px;
    max-width: 100%;
    padding: 0 96px;
    flex-shrink: 1;

    &__half-wrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;
        // width: calc(50% - 32px);
        width: 440px;
    }

    &__label {
        display: block;
    }

    &__input,
    &__select {
        width: 440px;
        height: 48px;
        padding: 12px 21px;
    }

    &__line {
        border-left: 2px solid red;
    }
}