@use '../../../styles' as *;
@use '../contacts/components/contact-details/contact-details.scss';

main {
    font-family: Inter;
    height: 100dvh;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    overflow-y: auto;

    h1 {
        align-self: flex-start;
    }
}

