<div class="app-layout">
  <app-navbar></app-navbar>
  <div class="page-content">
    <app-header></app-header>
    <main class="board-main">
      <section class="board">
        <header class="board-header">
          <h1>Board</h1>
          <div class="board-actions">
            <div class="input-group">
              <input type="search" placeholder="Find Task" [ngModel]="searchTerm()" (ngModelChange)="searchTerm.set($event)" />
              <img class="input-icon" src="app-icons/board/search.svg" alt="Search Icon" />
            </div>
            <button (click)="openAddTask()">Add task +</button>
          </div>
        </header>

        <section class="board-columns" cdkDropListGroup>
          @for (column of columns(); track column.id) {
            <app-board-column
              [column]="column"
              (taskDropped)="onTaskDropped($event)"
              (addTaskClicked)="openAddTask(column.id)"
              (taskClicked)="openTaskDetail($event)">
            </app-board-column>
          }
        </section>
        @if (noTasksFound()) {
          <p class="no-tasks-found">no tasks found</p>
        }
        @if (selectedTask(); as task) {
          <app-task-detail-dialog
            [isTaskDetailDialogOpen]="isTaskDetailDialogOpen()"
            [task]="task"
            (close)="closeTaskDetail()">
          </app-task-detail-dialog>
        }
      </section>
    </main>
  </div>
</div>

