<div class="app-layout">
  <app-navbar></app-navbar>
  <div class="page-content">
    <app-header></app-header>
    <main class="board-main">
      <section class="board">
        <header class="board-header">
          <div class="board-h1-wrapper">
            <h1>Board</h1>
            <button class="btn-add-mobile" (click)="openAddTask()"><img src="app-icons/board/add-mobile.svg"
                alt="Add Icon"></button>
          </div>
          <div class="board-actions">
            <div class="search-container">
              <div class="input-group">
                <input type="search" placeholder="Find Task" [ngModel]="searchTerm()"
                  (ngModelChange)="searchTerm.set($event)" />
                <img class="input-icon" src="app-icons/board/search.svg" alt="Search Icon" />
              </div>
              @if (noTasksFound()) {
              <p class="no-tasks-found">No tasks found</p>
              }
            </div>
            <button class="btn-add-desktop" (click)="openAddTask()">Add task +</button>
          </div>
        </header>
        <section class="board-columns" cdkDropListGroup>
          @for (column of columns(); track column.id) {
          <app-board-column [column]="column" (taskDropped)="onTaskDropped($event)"
            (addTaskClicked)="openAddTask(column.id)" (taskClicked)="openTaskDetail($event)">
          </app-board-column>
          }
        </section>
        @if (selectedTask(); as task) {
        <app-task-detail-dialog [isTaskDetailDialogOpen]="isTaskDetailDialogOpen()" [task]="task"
          (close)="closeTaskDetail()" (edit)="openEditTaskDetail($event)">
        </app-task-detail-dialog>
        <app-edit-task-detail-dialog [isOpen]="isEditTaskDetailDialogOpen()" [task]="task"
          (close)="closeEditTaskDetail()">
        </app-edit-task-detail-dialog>
        }
      </section>
    </main>
  </div>
</div>