<header class="login__header">
    <img src="/app-icons/join_favicon.svg">
    <div class="login__register-wrapper">
        <p class="login__text">Not a Join user?</p>
        <button class="auth__button auth__button--dark" routerLink="register">Sign up</button>
    </div>
</header>

<div class="auth__form-wrapper auth__form-wrapper--login">
    <div class="auth__heading-wrapper">
        <h1 class="main-h1">Log in</h1>
        <div class="auth__heading-line"></div>
    </div>
    <form class="auth__form auth__form--login" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
        <div class="auth__input-outer-wrapper">
            <div class="auth__input-wrapper">
                <label for="usermail" (click)="$event.preventDefault()"></label>
                <input class="auth__input" [class.auth__error-input]="authService.loginError()" type="text"
                    id="usermail" formControlName="usermail" placeholder="Email"
                    (keydown.enter)="$event.preventDefault()">
                <svg class="auth__icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0_505780_3825" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                        width="24" height="24">
                        <rect width="24" height="24" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_505780_3825)">
                        <path
                            d="M4 20C3.45 20 2.97917 19.8042 2.5875 19.4125C2.19583 19.0208 2 18.55 2 18V6C2 5.45 2.19583 4.97917 2.5875 4.5875C2.97917 4.19583 3.45 4 4 4H20C20.55 4 21.0208 4.19583 21.4125 4.5875C21.8042 4.97917 22 5.45 22 6V18C22 18.55 21.8042 19.0208 21.4125 19.4125C21.0208 19.8042 20.55 20 20 20H4ZM20 8L12.525 12.675C12.4417 12.725 12.3542 12.7625 12.2625 12.7875C12.1708 12.8125 12.0833 12.825 12 12.825C11.9167 12.825 11.8292 12.8125 11.7375 12.7875C11.6458 12.7625 11.5583 12.725 11.475 12.675L4 8V18H20V8ZM12 11L20 6H4L12 11ZM4 8.25V6.775V6.8V6.7875V8.25Z"
                            fill="#686868" />
                    </g>
                </svg>
            </div>
            @if (usermail?.invalid && usermail?.touched) {
            <p class="task-form__error">Please enter a valid email address.</p>
            }
        </div>
        <div class="auth__input-outer-wrapper">
            <div class="auth__input-wrapper">
                <label for="password" (click)="$event.preventDefault()"></label>
                <input class="auth__input" [class.auth__error-input]="authService.loginError()" type="text"
                    id="password" formControlName="password" placeholder="Password"
                    (keydown.enter)="$event.preventDefault()">
                <svg class="auth__icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0_505780_3832" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                        width="24" height="24">
                        <rect width="24" height="24" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_505780_3832)">
                        <path
                            d="M6 22C5.45 22 4.97917 21.8042 4.5875 21.4125C4.19583 21.0208 4 20.55 4 20V10C4 9.45 4.19583 8.97917 4.5875 8.5875C4.97917 8.19583 5.45 8 6 8H7V6C7 4.61667 7.4875 3.4375 8.4625 2.4625C9.4375 1.4875 10.6167 1 12 1C13.3833 1 14.5625 1.4875 15.5375 2.4625C16.5125 3.4375 17 4.61667 17 6V8H18C18.55 8 19.0208 8.19583 19.4125 8.5875C19.8042 8.97917 20 9.45 20 10V20C20 20.55 19.8042 21.0208 19.4125 21.4125C19.0208 21.8042 18.55 22 18 22H6ZM6 20H18V10H6V20ZM12 17C12.55 17 13.0208 16.8042 13.4125 16.4125C13.8042 16.0208 14 15.55 14 15C14 14.45 13.8042 13.9792 13.4125 13.5875C13.0208 13.1958 12.55 13 12 13C11.45 13 10.9792 13.1958 10.5875 13.5875C10.1958 13.9792 10 14.45 10 15C10 15.55 10.1958 16.0208 10.5875 16.4125C10.9792 16.8042 11.45 17 12 17ZM9 8H15V6C15 5.16667 14.7083 4.45833 14.125 3.875C13.5417 3.29167 12.8333 3 12 3C11.1667 3 10.4583 3.29167 9.875 3.875C9.29167 4.45833 9 5.16667 9 6V8Z"
                            fill="#686868" />
                    </g>
                </svg>
            </div>
            @if(authService.loginError()) {
            <p class="task-form__error"> {{authService.loginError()}}</p>
            }
        </div>
        <div class="auth__button-wrapper">
            <button class="auth__button auth__button--dark" type="submit"
                [class.auth__disabled]="loginForm.invalid">Log In</button>
            <button class="auth__button auth__button--light" type="button" (click)="authService.signInAsGuest()">Guest
                Log in</button>
        </div>
    </form>
</div>

@if (authService.isLoggedIn()) {
<p>logged in successfully</p>
}
@if (!authService.isLoggedIn()) {
<p>failed to log in or signed out</p>
}

<button (click)="authService.signOut()" style="font-size:2rem">sign out</button>
<footer class="auth__footer">
    <a class="auth__link">Privacy Policy</a>
    <a class="auth__link">Legal notice</a>
</footer>

<!-- Type="password" setzen -->