@use '../../../styles.scss' as *;
@use '../board/components/add-task-form/add-task-form.scss';

:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100dvh;
    width: 100%;
    font-family: Inter;
    padding: 65px 100px;
    background-color: $board-bg;
}

.login {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 86px;
    }

    &__register-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 36px;
    }

    &__text {
        font-size: 1.25rem;
    }
}

.auth {
    &__form-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        background-color: $white;
        border-radius: 30px;
        box-shadow: 0px 0px 14px 3px #00000024;

        &--register {
            padding: 48px 88px;
        }

        &--login {
            padding: 48px 115px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--login {
            gap: 24px;
        }

        &--register {
            gap: 24px;
        }
    }

    &__heading-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        width: 100%;
    }

    &__heading-arrow-wrapper {
        width: 100%;
        text-align: center;
    }

    &__heading-line {
        border-bottom: 4px solid $bright-light-blue;
        width: 150px;
        border-radius: 3px;
    }

    &__return-arrow {
        float: left;
        cursor: pointer;
    }

    &__input {
        padding: 15px 40px 15px 21px;
        border-radius: 10px;
        border: 1px solid $gray-medium;
        cursor: pointer;
        width: 100%;
        font-family: Inter;
        font-size: 1rem;

        &::placeholder {
            color: $gray-medium;
            font-size: 1.25rem;
            font-family: Inter;
        }

        &-wrapper {
            position: relative;
            display: inline-block;
            width: 420px;
        }
    }

    &__input-outer-wrapper {
        display: flex;
        flex-direction: column;
        height: 67px;
    }

    &__error-input {
        border-color: $red;
    }

    &__icon {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);

        &-clickable {
            cursor: pointer;
        }
    }

    &__button {
        padding: 12px 24px;
        font-weight: 700;
        border-radius: 8px;
        border: 1px solid;
        font-family: Inter;
        font-size: 1.3rem;
        cursor: pointer;

        &--light {
            background-color: $white;
            border-color: $dark-blue;
            color: $dark-blue;
        }

        &--dark {
            background-color: $dark-blue;
            border-color: $dark-blue;
            color: $white;
        }
    }

    &__button-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 36px;
    }
    
    &__disabled{
        color: $light-grey;
        background-color: $dark-blue-muted;
    }

    &__checkbox-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__checkbox-label {
        font-size: 1rem;
        color: $gray-medium;
    }

    &__checkbox-outer-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 45px;
    }

    &__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        color: $gray-medium;
        font-size: 1rem;
    }

    &__link {
        cursor: pointer;
    }
}

.ng-touched.ng-invalid {
    border-color: $red;
}