@use '../../../../styles/variables' as *;

main {
  display: flex;
  align-items: center;
  font-family: 'Inter';
}

.btn-img {
  padding: 0;
  border: none;
  background: none;
  line-height: 0;
  cursor: pointer;
  overflow: hidden;
}

.info-section {
  height: 470px;
  min-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: $dark-blue;
  padding: 30px;
  gap: 1rem;
  color: $white;
  .underline {
    height: 2px;
    width: 25%;
    background-color: $light-blue;
  }
  h1 {
    font-size: 3rem;
    line-height: 120%;
    font-weight: bold;
    margin: 0px;
    letter-spacing: 0%;
  }
  h2 {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0px;
  }
}

.form-section {
  position: relative;
  height: 470px;
  display: flex;
  align-items: center;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  gap: 20px;
  padding: 20px 40px 20px 50px;
  > div:first-child {
    transform: translateY(-35px);
  }
  img {
    width: 120px;
    height: 120px;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .btn-close {
      position: absolute;
      top: 20px;
      right: 20px;
      border: none;

      img {
        width: 30px;
        height: 30px;
      }
      &:hover {
        border-radius: 50px;
        background-color: $light-grey;
      }
    }
  }
}

.btn-close-top {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  display: none;
}

.form-fields {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  .form-actions {
    display: flex;
    height: 100%;
    gap: 20px;
    button {
      cursor: pointer;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid $dark-blue;
      margin: 1px;
      background-color: transparent;
      font-family: 'Inter';
      color: $dark-blue;
      font-size: 1.1rem;
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        width: 20px;
        height: 20px;
      }
      &:hover {
        border: 2px solid $blue-green;
        margin: 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      }
    }
    .btn-submit {
      background-color: $dark-blue;
      color: $white;
      img {
        width: 15px;
        height: 11px;
      }
      &:hover {
        background-color: $blue-green;
      }
    }
  }
  input {
    height: 40px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid rgba(107, 107, 107, 0.71);
    padding: 13px 21px;
  }
}

.input-group {
  position: relative;
  margin-bottom: 15px;
  img {
    height: 24px;
    width: 24px;
  }
}

.input-group .input-icon {
  position: absolute;
  left: 90%;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

@media (max-width: 900px) {
  main {
    flex-direction: column;
    align-items: center;
  }
  .info-section {
    width: 100%;
    align-items: center;
  }
  .form-section {
    flex-direction: column;
    padding-top: 100px;

    > div:first-child {
      position: absolute;
      top: -60px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .btn-close-top {
    display: block;
  }
  .btn-close {
    display: none;
  }
}

@media (max-width: 400px) {
  .info-section {
    align-items: flex-start;
    padding: 24px;
    gap: 1rem;
    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 1.1rem;
    }
  }

  .form-fields {
    align-items: center;
    gap: 8px;
    .form-actions {
      gap: 20px;
      button {
        padding: 8px 10px;
        margin: 1px;
        font-size: 1rem;
        gap: 10px;
      }
    }
    input {
      height: 40px;
      width: 300px;
      border-radius: 10px;
      border: 1px solid rgba(107, 107, 107, 0.71);
      padding: 5px 10px;
    }
  }
}
