
<main>
    <section class="info-section">
        <img src="/icons/add-contact-dialog/join-logo.svg" alt="Join Logo">
        <h1>Add contact</h1>
        <h2>Tasks are better with a team!</h2>
        <div class="underline"></div>
    </section>
    <section class="form-section">
        <div>
            <img src="/icons/add-contact-dialog/person-logo.svg" alt="Person Logo">
        </div>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
            <button type="button" class="close-btn" (click)="onCancel()">x</button>
            <div class="avatar-container">
                <div class="avatar-placeholder">
                    <span class="icon-user"></span>
                </div>
            </div>

            <div class="form-fields">
                <!-- Name -->
                <div class="input-group">
                    <input type="text" id="name" formControlName="name" placeholder="Name" />
                    <span class="input-icon icon-user-small"></span>
                </div>

                <!-- Email -->
                <div class="input-group">
                    <input type="email" id="email" formControlName="email" placeholder="Email" />
                    <span class="input-icon icon-mail"></span>
                </div>

                <!-- Phone -->
                <div class="input-group">
                    <input type="tel" id="phone" formControlName="phone" placeholder="Phone" />
                    <span class="input-icon icon-phone"></span>
                </div>

                <!-- Btn -->
                <div class="form-actions">
                    <button type="button" class="btn-cancel" (click)="onCancel()">
                        Cancel <span>✕</span>
                    </button>
                    <button type="submit" class="btn-submit" [disabled]="contactForm.invalid || isSubmitting">
                        Create contact <span>✓</span>
                    </button>
                </div>
                @if (errorMessage; as errorMessage) {
                    <p role="alert">{{ errorMessage }}</p>
                }
            </div>
        </form>


    </section>
</main>