@use '../../../../../styles.scss' as *;

.dialog-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 24px;

  position: relative;
  background: white;
  border-radius: 30px;
  padding: 48px 40px 48px 40px;
  max-width: 525px;
  width: 90%;
  max-height: 931px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.dialog-body {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  min-height: 0;
}

.dialog-scrollable {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1 1 auto;
  min-height: 0;
  width: 100%;
  padding-right: 32px;
  overflow-y: auto;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.custom-scrollbar {
  position: absolute;
  top: 20px;
  bottom: 0;
  right: 8px;
  width: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.scrollbar-arrow {
  flex-shrink: 0;
  width: 10px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  img {
    display: block;
    width: 100%;
  }
}

.scrollbar-track {
  position: relative;
  flex: 1 1 auto;
  width: 10px;
}

.scrollbar-thumb {
  position: absolute;
  left: 0;
  width: 10px;
  background-color: #A8A8A8;
  border-radius: 8px;

  &:hover {
    background-color: #b0b0b0;
  }
}

h2 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
}

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-shrink: 0;
}

.dialog-close {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background: transparent;
  color: #2a3647;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  line-height: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    border-radius: 50%;
    background-color: #D9D9D9;
  }
}

.dialog-badge {
  width: fit-content;
  color: white;
  padding: 4px 16px;
  border-radius: 8px;

  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;

  &.user_story {
    background-color: #0038ff;
  }

  &.technical_task {
    background-color: rgba(31, 215, 193, 1);
  }
}

.dialog-description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
}

.dialog-progress {
  margin: 1rem 0;
  font-size: 0.9rem;
}

.due-date {
  display: flex;
  align-items: center;
  gap: 25px;
}

.due-date-label,
.priority,
.assigned-to,
.subtasks-label {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #42526e;
}

.priority {
  display: flex;
  align-items: center;
  gap: 25px;
}

.due-date-label,
.priority-label {
  flex-shrink: 0;
  width: 100px;
}

.priority-value {
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
  line-height: 120%;
}

.due-date-value {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 19px;
  color: black;
}

.priority-icon {
  width: 17px;
}

.dialog-assignees {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.assignee-row {
  display: flex;
  align-items: center;
  gap: 16px;
}

.assignee-name {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: black;
}


.task-card-assignee {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  flex-shrink: 0;
}

.dialog-subtasks {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subtask-row {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.subtask-checkbox {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.subtask-title {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: black;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}

.dialog-action-divider {
  width: 1px;
  height: 24px;
  margin: 0 8px;
  background: #d1d1d1;
}

.dialog-action-button {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #2a3647;

  img {
    width: 24px;
    height: 24px;
  }
}


