@use '../../styles/variables' as *;

p {
  font-size: 1.1rem;
  text-align: center;
  color: $dark-blue;
}

.summary-main {
  background-color: $board-bg;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 70px 60px;
  .summary-header {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    gap: 30px;
    h1 {
      font-weight: 700;
      font-size: 3.8rem;
      line-height: 120%;
    }
    h2 {
      font-weight: 400;
      font-size: 1.7rem;
      line-height: 120%;
      color: $dark-blue;
    }
    .blue-line {
      height: 3.5rem;
      width: 3px;
      background-color: $bright-light-blue;
    }
  }
}

.dashboard-wrapper {
  display: flex;
  align-items: center;
  .summary-dashboard {
    display: flex;
    flex-direction: column;
    gap: 28px;
    .part-1 {
      display: flex;
      gap: 28px;
    }
    .part-2 {
      display: flex;
      gap: 28px;
    }
    .card-wrapper {
      width: 260px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      border: 1px solid $light-grey;
      border-radius: 30px;
      padding: 38px 19px;
      gap: 30px;
      cursor: pointer;
      transition: all 255ms ease-in-out;
      
      img {
        width: 70px;
        height: 70px;
      }
      .img-hover {
        display: none;
      }
      h4 {
        font-size: 4rem;
        text-align: center;
      }
      .card-inner-wrapper{
        display: flex;
        flex-direction: column;
        gap: 8px
      }
      &:hover {
        background-color: $dark-blue;
        color: $white;
        box-shadow: 0px 4px 4px 0px #00000040;
        transform: scale(1.05);
        .img-hover {
          display: block;
        }
        .img-normal {
          display: none;
        }
        p {
          color: $white;
        }
      }
    }
    .card-urgent {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      border: 1px solid $light-grey;
      border-radius: 30px;
      padding: 38px 19px;
      gap: 18px;
      cursor: pointer;
      transition: all 255ms ease-in-out;
      img {
        width: 70px;
        height: 70px;
      }
      h4 {
        font-size: 4rem;
        text-align: center;
      }
      .grey-line {
        height: 100px;
        width: 2px;
        background-color: $light-grey;
      }
      .urgent-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        padding: 0px 20px;
        font-family: 'Inter', sans-serif;

        span {
          font-size: 1.2rem;
          font-weight: 700;
          color: $dark-blue;
        }
        .urgent-p {
          font-size: 1rem;
          color: $dark-blue;
        }
      }
      &:hover {
        background-color: $dark-blue;
        color: $white;
        box-shadow: 0px 4px 4px 0px #00000040;
        transform: scale(1.05);
        .urgent-wrapper {
          span, p, .urgent-p {
            color: $white;
          }
        }
      }
    }
    .card-single {
      width: 160px;
      display: flex;
      flex-direction: column;
      background-color: $white;
      border: 1px solid $light-grey;
      border-radius: 30px;
      padding: 38px 19px;
      gap: 8px;
      cursor: pointer;
      transition: all 255ms ease-in-out;

      h4 {
        font-size: 4rem;
        text-align: center;
      }
      &:hover {
        background-color: $dark-blue;
        color: $white;
        box-shadow: 0px 4px 4px 0px #00000040;
        transform: scale(1.05);
        p {
          color: $white;
        }
      }
    }
  }
}

.summary-greeting {
  padding-left: 100px;
  color: $dark-blue;
  p {
    font-size: 2.9rem;
    text-align: start;
  }
  h3 {
    font-size: 4rem;
    font-weight: 700;
  }
}
