@forward './app/styles/variables';
@forward './app/styles/fonts';
@forward './app/styles/typography';
@forward './app/styles/layout';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
}

//Style dragging-task
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 24px;
  rotate: 3deg;
}

// Cursor Drag&Drop
body:has(.cdk-drag-preview),
body:has(.cdk-drag-preview) * {
  cursor: grabbing;
}

// Animation Drag&Drop
.cdk-drag-animating {
  transition: transform 125ms cubic-bezier(0, 0, 0.2, 1);
}



