@use './app/styles/variables';
@use './app/styles/fonts';
@use './app/styles/typography';
@use './app/styles/layout';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



