@forward './app/styles/variables';
@forward './app/styles/fonts';
@forward './app/styles/typography';
@forward './app/styles/layout';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
}

//Style für Tasks, die gerade bewegt werden
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transform: rotate(3deg); 
  cursor: grabbing;
}

// Task Animation Drag&Drop
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}



