<article class="column">
    <header class="column-header">
        <h2>{{ column().title }}</h2>
        @if (column().id !== 'done') {
        <button class="btn-img" (click)="addTaskClicked.emit(column().id)">
            <img src="app-icons/board/plus-btn.svg" alt="Plus Icon">
        </button>
        }
    </header>

    <div class="task-scroll-wrapper">
        <section class="column-task-list" cdkDropList [id]="column().id" [cdkDropListData]="column().tasks"
            (cdkDropListDropped)="drop($event)">

            @if (column().tasks.length === 0) {
            <div class="column-empty">No tasks {{ column().title }}</div>
            }

            @for (task of column().tasks; track task.id) {
            <app-board-task-card [task]="task" cdkDrag [cdkDragDisabled]="isMobile()" [cdkDragData]="task"
                (clicked)="taskClicked.emit(task)"
                (taskMoved)="taskDropped.emit({ task, newColumnId: $event })"></app-board-task-card>
            }

        </section>
    </div>
</article>